<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../main.css">
    %%PAGE_CSS_LINK%%

    <!-- <meta http-equiv="refresh" content="3; url=/battle" /> -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <div id="wrapper">
    <nav>
        <div class="navbar">
            <a class="navitem" id="home" href="/">Home</a>
                <a class="navitem" id="javascript" href="/javascript">Javascript</a>
                <div class="dropdown-content">
                    <a href="/javascript#variables">Variables</a>
                    <a href="/javascript#typecoercion">Type Coercion</a>
                    <a href="/javascript#callbackfunctions">Callback Functions</a>
                    <a href="/javascript#loops">Loops</a>
                    <a href="/javascript#arrowfunctions">Arrow Functions</a>
                </div>
                <a class="navitem" id="node" href="/node" >Node</a>
                <div class="dropdown-content1">
                    <a href="/node#express">Express</a>
                    <a href="/node#modules">Modules</a>
                    <a href="/node#crossenv">Cross Env</a>
                    <a href="/node#ssr">SSR</a>
                </div>
                <a class="navitem" id="http" href="/http">HTTP</a>
                <div class="dropdown-content2">
                    <a href="/http#api">Rest API</a>
                    <a href="/http#http">HTTP</a>
                    <a href="/http#http">Http Methods</a>
                    <a href="/http#postman">Postman</a>
                </div>
            <a class="navitem" href="/login" id="login-register">Login/Register</a>
        </div>
    </nav>

    <main>